In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:/Udemy/ML/Web Scraping Assignment - Web Scraping Assignment.csv")
df.head()

,",",COLLEGE NAME,WEBSITE,ADRESS
0,1,"Abhinava Bharathi College of Pharmacy, Mandya",NaN,NaN
1,2,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,NaN
2,3,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,NaN
3,4,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,NaN
4,5,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,NaN

In [3]:
df.shape

(500, 4)

In [4]:
df.isnull().sum()

,                 0
COLLEGE NAME      0
 WEBSITE         38
ADRESS          500
dtype: int64

In [5]:
df.drop(columns = ['ADRESS', ','], inplace = True)

In [6]:
df.head(10)

,COLLEGE NAME,WEBSITE
0,"Abhinava Bharathi College of Pharmacy, Mandya",NaN
1,"Academy Of Management Studies, Hyderabad",http://www.useams.org/
2,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/
3,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/
4,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/
5,"Acharya Panth Shri GMNS Government College, Ka...",https://pgcollegekawardha.edu.in/
6,"ACME College Of Information Technology ACIT, H...",http://acmecollege.com/
7,"Adarsh College Of Education, Jind",http://www.adarshcollegeedu.co.in/ContactUs.aspx
8,"Adhiyamaan Polytechnic College, Hosur",http://www.adhiyamaanpolytech.in/
9,Aditya Engineering College,https://www.aec.edu.in/

In [7]:
df.dropna(inplace=True)
df.isnull().sum()

COLLEGE NAME    0
 WEBSITE        0
dtype: int64

In [8]:
df.shape

(462, 2)

In [9]:
for col in df.columns:
    print(col)

COLLEGE NAME
 WEBSITE

In [10]:
df[' WEBSITE']

1                          http://www.useams.org/
2                         https://www.amclko.org/
3                       http://ascomscollege.com/
4                      https://www.acharya.ac.in/
5               https://pgcollegekawardha.edu.in/
                          ...
494                       http://www.manit.ac.in/
495                           http://maids.ac.in/
496         http://mawlaipresbyteriancollege.org/
497    http://www.mawsynramborderareacollege.com/
498              http://www.mayailambicollege.in/
Name:  WEBSITE, Length: 462, dtype: object

In [11]:
df = df.rename(columns=lambda x: x.strip().replace(" WEBSITE", "WEBSITE"))

In [12]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\yash\appdata\local\programs\python\python311\lib\site-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\yash\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.4)

In [13]:
import requests
from bs4 import BeautifulSoup

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462 entries, 1 to 498
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COLLEGE NAME  462 non-null    object
 1   WEBSITE       462 non-null    object
dtypes: object(2)
memory usage: 10.8+ KB

In [15]:
df['WEBSITE'].shape

(462,)

In [16]:
import requests
import pandas as pd

# assume you have a dataframe named 'df' with a column named 'WEBSITE' containing the URLs

responses = []
for url in df['WEBSITE']:
    try:
        response = requests.get(url, timeout=10)
        responses.append(response)
    except requests.exceptions.Timeout:
        pass
    except requests.exceptions.RequestException as e:
        pass
    except requests.exceptions.Timeout:
        pass
    except Exception as e:
        pass

In [18]:
Address = []
for response in responses:
    soup = BeautifulSoup(response.text, 'html.parser')
    address = soup.find_all('span', class_='street-address')
    for address in address:
        Address.append(address.get_text().strip())
        
print(Address)

['2nd Floor, Manzil Chambers,']

In [19]:
Principal=[]
for response in responses:
    soup = BeautifulSoup(response.text, 'html.parser')
    principal = soup.find('section', id='about')
    principal_name = principal.find('div', class_='media-body')
    for principal in principal:
        if principal is not None:
            Principal.append(principal_name.get_text().strip())
        else:
            print("")

AttributeError: 'NoneType' object has no attribute 'find'

# basic scraping techniques

In [20]:
df1 = []
for response in responses:
    row = {
        'status_code': response.status_code,
        'content_type': response.headers['content-type'],
        'content_length': len(response.content),
        'text': response.text,
        'Cookies': response.cookies,
        'Header': response.headers
    }
    df1.append(row)

df_responses = pd.DataFrame(df1)

In [21]:
df_responses

,status_code,content_type,content_length,text,Cookies,Header
0,200,text/html,11534,"<!DOCTYPE HTML PUBLIC ""-//W3C//DTD XHTML 1.0 S...",[],"[Date, Server, Upgrade, Connection, Last-Modif..."
1,200,text/html; charset=UTF-8,0,,[],"[Date, Server, Keep-Alive, Connection, Transfe..."
2,406,text/html; charset=iso-8859-1,226,<head><title>Not Acceptable!</title></head><bo...,[],"[Date, Server, Content-Length, Keep-Alive, Con..."
3,200,text/html; charset=UTF-8,93769,"<!doctype html>\n<html lang=""en"">\n <head>\n...",[],"[Date, Server, Last-Modified, ETag, Accept-Ran..."
4,200,text/html; charset=utf-8,71800,"\r\n\r\n<!DOCTYPE html>\r\n\r\n<html xmlns=""ht...",[],"[Cache-Control, Transfer-Encoding, Content-Typ..."
...,...,...,...,...,...,...
369,200,text/html,16237,<!doctype html>\n<html><!-- InstanceBegin temp...,[],"[Date, Server, Last-Modified, Accept-Ranges, C..."
370,200,text/html; charset=utf-8,170305,"<!DOCTYPE html>\n<html xmlns=""http://www.w3.or...",[],"[Date, Server, X-Frame-Options, X-Content-Type..."
371,200,text/html; charset=UTF-8,34331,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",[],"[Date, Server, Keep-Alive, Connection, Transfe..."
372,406,text/html; charset=iso-8859-1,226,<head><title>Not Acceptable!</title></head><bo...,[],"[Date, Server, Content-Length, Keep-Alive, Con..."
373,200,text/html; charset=UTF-8,60254,"<!DOCTYPE html>\n<html lang=""en"">\n<head>\n ...",[<Cookie XSRF-TOKEN=eyJpdiI6IkR1TjhhY1VNS3NibT...,"[Date, Server, X-Powered-By, Cache-Control, Se..."

In [22]:
# there is an appending problem
# This is only for displaying title names
# def gettitle():
Title=[]
for response in responses[:10]:
    soup = BeautifulSoup(response.text, 'html.parser')
    for title in soup.find_all('title'):
        Title.append(title.get_text())
print(Title)

['AMS MBA COLLEGE', 'Not Acceptable!', 'Join Acharya Institute For Best Degree Courses And Top Placements.', '\r\n\t PG College Kawardha | Kawardha College | Govt. PG College Kawardha | Acharya Panth Shri Grindh Muni Naam Saheb Govt. PG College Kawardha  \r\n', 'Acme College of Information Technology', 'IIS 8.5 Detailed Error - 403.0 - ModSecurity Action', 'Adhiyamaan Polytechnic College', 'Aditya Engineering College | Autonomous', 'Aditya Engineering College - Autonomous', 'Best Autonomous College in AP - Best Engineering College in AP']

In [23]:
# gettitle()

In [24]:
links = []
for text in df_responses['text'][:10]:
    soup = BeautifulSoup(text, 'html.parser')
    for link in soup.find_all('a'):
        links.append(link.get('href'))
# print(links)

In [25]:
# for response in responses:
#     Website_data=[]
#     row = {
#             'Title': pd.DataFrame(Title),
#             'Links': pd.DataFrame(links)
#         }
#     Website_data.append(row)

# Website_data = pd.DataFrame(Website_data)

In [26]:
# Website_data